table {
    margin: auto;
    width: 80vw;
    border-collapse: collapse;
}

th, td {
    border: 1px solid gray;
}

thead tr,
tbody tr:nth-child(2n) {
    background: #f0f0f0;
}

.images-container {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
}

.image {
    margin: 2px;
    height: calc(100% - 4px);
}

img {
    height: 100%;
}

.buttons-container {
    display: flex;
}