<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Roles</title>
    <link th:href="@{/common.css}" rel="stylesheet">
    <link th:href="@{/table.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Users</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="role: ${roles}">
                <th th:text="${role.id}"></th>
                <td th:text="${role.name}"></td>
                <td>
                    <ul>
                        <li th:each="login: ${role.userLogins}" th:text="${login}"></li>
                    </ul>
                </td>
                <td>
                    <div class="buttons-container">
                        <a th:href="@{/role/{id}(id = ${role.id})}">
                            <button>
                                <i class="fas fa-edit"></i>
                            </button>
                        </a>
                        <form th:method="DELETE" th:action="@{/role/{id}(id = ${role.id})}">
                            <button type="submit">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>