<div class="header">
  <h1>Устройства</h1>
  <div class="filter-container">
    <i *ngIf="!isNameFilterVisible" (click)="showNameFilter()" class="fa-xl fa-solid fa-magnifying-glass search-icon"></i>
    <input #nameFilterRef
           class="filter"
           [class.expanded]="isNameFilterVisible"
           type="text"
           placeholder="Название устройства"
           [(ngModel)]="nameFilter"
           (ngModelChange)="onFilterChange()"
    />
  </div>
</div>

<div class="devices-container">
  <div *ngIf="!devices?.content?.length && !fetching" class="not-found-placeholder-image"></div>
  <span *ngIf="!devices?.content?.length && !fetching" class="not-found-placeholder-text">Ничего не найдено</span>
  <div *ngIf="devices?.content?.length" class="devices">
    <a *ngFor="let device of devices?.content" class="device" routerLink="/device/{{device.id}}">
      <img
        *ngIf="device.pictures[0]"
        src="{{device.pictures[0]}}"
        srcset="{{device.pictures[0]}}/64 1x, {{device.pictures[0]}}/128 2x, {{device.pictures[0]}}/192 3x"
        class="image"
      >
      <div *ngIf="!device.pictures[0]" class="image image-placeholder"></div>
      <span class="name">{{device.name}}</span>
    </a>
  </div>
</div>
<div class="pagination-container">
  <app-pagination
    [page]="devices"
    [pageButtons]="false"
    [disabled]="fetching || !devices || devices.totalPages === 1"
    (setPage)="setPage($event)"
  >
  </app-pagination>
</div>
