<h1>Devices</h1>
<div class="filter-container">
  <i *ngIf="!isNameFilterVisible" (click)="showNameFilter()" class="fa-xl fa-solid fa-magnifying-glass search-icon"></i>
  <input
    class="filter"
    [class.expanded]="isNameFilterVisible"
    type="text"
    placeholder="Название устройства"
    [(ngModel)]="nameFilter"
    (ngModelChange)="onFilterChange()"
  />
</div>
<app-pagination [page]="devices" (setPage)="setPage($event)"></app-pagination>
<ul class="devices">
  <a *ngFor="let device of devices?.content" class="device" routerLink="/device/{{device.id}}">
    <li>
      <span class="name">{{device.name}}</span>
      <img
        *ngIf="device.previews[0]"
        src="{{device.previews[0]}}"
        class="image"
      >
    </li>
  </a>
</ul>

