<h1>Devices</h1>
<div class="filter-container">
  <i *ngIf="!isNameFilterVisible" (click)="showNameFilter()" class="fa-xl fa-solid fa-magnifying-glass search-icon"></i>
  <input #nameFilterRef
    class="filter"
    [class.expanded]="isNameFilterVisible"
    type="text"
    placeholder="Название устройства"
    [(ngModel)]="nameFilter"
    (ngModelChange)="onFilterChange()"
  />
</div>
<app-pagination [page]="devices" [disabled]="fetching" (setPage)="setPage($event)" ></app-pagination>
<ul class="devices">
  <a *ngFor="let device of devices?.content" class="device" routerLink="/device/{{device.id}}">
    <li>
      <img
        *ngIf="device.pictures[0]"
        src="{{device.pictures[0]}}"
        srcset="{{device.pictures[0]}}/220 1x, {{device.pictures[0]}}/440 2x, {{device.pictures[0]}}/660 3x, {{device.pictures[0]}}/880 4x"
        class="image"
      >
      <div *ngIf="!device.pictures[0]" class="image image-placeholder"></div>
      <span class="name">{{device.name}}</span>
    </li>
  </a>
</ul>

