<div class="header">
  <h1>Устройства</h1>
  <div class="filter-container">
    <i *ngIf="!isNameFilterVisible" (click)="showNameFilter()" class="fa-xl fa-solid fa-magnifying-glass search-icon"></i>
    <input #nameFilterRef
           class="filter"
           [class.expanded]="isNameFilterVisible"
           type="text"
           placeholder="Название устройства"
           [(ngModel)]="nameFilter"
           (ngModelChange)="onFilterChange()"
    />
  </div>
</div>

<ul class="devices">
  <div *ngIf="!devices?.content?.length" class="not-found-placeholder">
    <div class="not-found-placeholder-image"></div>
    <span class="not-found-placeholder-text">Ничего не найдено</span>
  </div>
  <a *ngFor="let device of devices?.content" class="device" routerLink="/device/{{device.id}}">
    <li>
      <img
        *ngIf="device.pictures[0]"
        src="{{device.pictures[0]}}"
        srcset="{{device.pictures[0]}}/220 1x, {{device.pictures[0]}}/440 2x, {{device.pictures[0]}}/660 3x"
        class="image"
      >
      <div *ngIf="!device.pictures[0]" class="image image-placeholder"></div>
      <span class="name">{{device.name}}</span>
    </li>
  </a>
</ul>
<app-pagination [page]="devices" [disabled]="fetching" (setPage)="setPage($event)" ></app-pagination>


