<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Users</title>
    <link th:href="@{/common.css}" rel="stylesheet">
    <link th:href="@{/table.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}">
                <th th:text="${user.id}"></th>
                <td th:text="${user.login}"></td>
                <td>
                    <ul>
                        <li th:each="roleName: ${user.roleNames}" th:text="${roleName}"></li>
                    </ul>
                </td>
                <td>
                    <div class="buttons-container">
                        <a th:href="@{/user/{id}(id = ${user.id})}">
                            <button>
                                <i class="fas fa-edit"></i>
                            </button>
                        </a>
                        <form th:method="DELETE" th:action="@{/user/{id}(id = ${user.id})}">
                            <button type="submit">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>